* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 960px);
    padding-right: calc(50% - 960px);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 51px;
}

body {
    background: #FFF;
    font-family: Josefin Sans;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_item {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.head_content {
    color: #000;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head_content1 {
    color: #F25822;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head_content2 {
    color: #FFF;

    font-family: Josefin Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F25822;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Head_title {
    color: #000;
    font-family: Josefin Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 14px;
}

.Be {
    color: #F25822;
    font-family: Josefin Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    margin-top: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.content_title{
    display: flex;
    flex-direction: column;
}

.title {
    color: #000;
    font-family: Josefin Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.text {
    color: #888;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_content2 {
    border-radius: 50px;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 27px;
}

.icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 17px;
}

.text2 {
    color: #AAA;
    font-family: Josefin Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pngfind {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.eclipse {
    width: 314px;
    height: 76px;
    border-radius: 300px/270px;
    border: 1px solid #F25822;
    position: absolute;
    top: 300px;
    left: 120px;
    
}

.tools {
    margin-top: 97px;
    margin-bottom: 97px;
    margin-left: 320px;
    margin-right: 320px;
    gap: 48px;
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}

.icon_tools {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.stat {
    padding-top: 94px;
    background: #FAFAFA;

}